<mat-toolbar color="primary">
    <span>Angular 5 todo Example</span>
</mat-toolbar>
<div class="todos">
    <div>
        <mat-card>
            <form (submit)="addTodo($event)">
                <div class="row">
                    <mat-form-field>
                        <input matInput [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" name="newTodo" placeholder="Enter your task">
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit" [disabled]="newTodo===''">Add Todo
                        </button>
                    <br>
                </div>
            </form>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let todo of todos; let i=index">
                    <mat-checkbox [(ngModel)]="todo.completed"></mat-checkbox>&nbsp;&nbsp;
                    <span [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
                    <span (click)="deleteTodo(i)" class="delete-icon"><mat-icon>delete</mat-icon></span>
                </mat-list-item>
                <mat-list-item>
                    <button *ngIf="todos?.length>0" mat-raised-button color="primary" (click)="deleteSelectedTodos()">Delete Selected</button>
                    </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>